.frame {
  position: relative;
  width: 1934px;
  height: 11784px;
}

.frame .landing-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.frame .landing-page {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .im-emery-my-self {
  position: relative;
  width: 1920px;
  height: 1024px;
  background-color: #ffffff;
}

.frame .div-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1024px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.frame .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1024px;
}

.frame .navigation-bar {
  position: relative;
  width: 1922px;
  height: 120px;
  margin-top: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  background-color: #ffffff1a;
  border: 1px solid;
  border-color: #000000;
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.13), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  aspect-ratio: 16.27;
}

.frame .div-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 18px 38px;
  position: absolute;
  top: 29px;
  right: 100px;
  border-radius: 100px;
  border: 1px solid;
  border-color: #000000;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-weight: 600;
  color: #161a1a;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .basil-download-solid {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame .vector {
  position: absolute;
  width: 75.00%;
  height: 29.17%;
  top: 62.50%;
  left: 12.50%;
}

.frame .img {
  position: absolute;
  width: 50.00%;
  height: 54.17%;
  top: 8.33%;
  left: 25.00%;
}

.frame .inner-content {
  position: relative;
  width: 1920px;
  height: 906px;
  overflow: hidden;
}

.frame .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 474px;
  left: 88px;
}

.frame .p {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-Regular", Helvetica;
  font-weight: 400;
  color: #76797a;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 52px;
  white-space: nowrap;
}

.frame .rectangle-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 14px;
  left: 966px;
}

.frame .rectangle {
  position: relative;
  width: 726px;
  height: 882px;
  object-fit: cover;
}

.frame .i-m-sonam-wangmo-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 108px;
  left: 88px;
}

.frame .i-m-sonam-wangmo {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  margin-left: -1.00px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  color: #161a1a;
  font-size: 94px;
  letter-spacing: 0;
  line-height: 114px;
}

.frame .who-i-am {
  position: relative;
  width: 1920px;
  height: 1024px;
  background-color: #ecf8ff;
}

.frame .inner-content-2 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1918px;
  height: 1024px;
  display: flex;
  gap: 24px;
  overflow: hidden;
}

.frame .left-aside {
  width: 800px;
  height: 1024px;
  position: relative;
  margin-left: -1px;
  background-color: #ffeed9;
}

.frame .div-4 {
  position: absolute;
  top: 80px;
  left: 98px;
  width: 262px;
  height: 326px;
}

.frame .vector-2 {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 64px;
  height: 262px;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 302px;
  left: 62px;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-weight: 600;
  color: #161a1a;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 105px;
  left: 12px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Urbanist-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 68px;
  text-align: center;
  letter-spacing: 0;
  line-height: 52px;
  white-space: nowrap;
}

.frame .div-5 {
  position: absolute;
  top: 460px;
  left: 98px;
  width: 262px;
  height: 326px;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 302px;
  left: 46px;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-weight: 600;
  color: #161a1a;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .vector-3 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 131px);
  width: 262px;
  height: 262px;
}

.frame .hard-work {
  position: absolute;
  top: 79px;
  left: 51px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Urbanist-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 68px;
  text-align: center;
  letter-spacing: 0;
  line-height: 52px;
}

.frame .div-6 {
  position: absolute;
  top: 80px;
  left: 460px;
  width: 262px;
  height: 326px;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 105px;
  left: 50px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Urbanist-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 68px;
  text-align: center;
  letter-spacing: 0;
  line-height: 52px;
  white-space: nowrap;
}

.frame .text-wrapper-6 {
  position: absolute;
  top: 302px;
  left: 99px;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-weight: 600;
  color: #161a1a;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .div-7 {
  position: absolute;
  top: 460px;
  left: 460px;
  width: 262px;
  height: 326px;
}

.frame .vector-4 {
  position: absolute;
  width: 100%;
  height: 80.37%;
  top: 0;
  left: 0;
}

.frame .text-wrapper-7 {
  position: absolute;
  top: 105px;
  left: 27px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Urbanist-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 68px;
  text-align: center;
  letter-spacing: 0;
  line-height: 52px;
  white-space: nowrap;
}

.frame .text-wrapper-8 {
  position: absolute;
  top: 302px;
  left: 84px;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-weight: 600;
  color: #161a1a;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .right-aside {
  display: inline-flex;
  margin-top: 336px;
  width: 998px;
  height: 778px;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  gap: 48px;
}

.frame .div-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  color: #161a1a;
  font-size: 94px;
  text-align: right;
  letter-spacing: 0;
  line-height: 114px;
  white-space: nowrap;
}

.frame .hi-i-m-sonam-wangmo {
  position: relative;
  width: 998px;
  font-family: "Urbanist-Regular", Helvetica;
  font-weight: 400;
  color: #161a1a;
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: 52px;
}

.frame .div-9 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.frame .img-2 {
  position: relative;
  flex: 0 0 auto;
  margin-top: -2066.00px;
  margin-left: -1295.00px;
}

.frame .div-10 {
  padding: 24px 16px 24px 72px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
}

.frame .vector-wrapper {
  left: 0;
  position: absolute;
  top: 0;
  width: 72px;
  height: 72px;
  border-radius: 100px;
  overflow: hidden;
}

.frame .vector-5 {
  position: absolute;
  top: calc(50.00% - 2076px);
  left: calc(50.00% - 1571px);
  width: 20px;
  height: 24px;
}

.frame .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-SemiBold", Helvetica;
  font-weight: 600;
  color: #161a1a;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .services-i-offer {
  position: relative;
  width: 1920px;
  height: 3050px;
  background-color: #39a7ff;
}

.frame .background-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-4.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .vector-6 {
  position: absolute;
  height: 2.95%;
  top: 3.28%;
  right: 98px;
  width: 90px;
}

.frame .vector-7 {
  position: absolute;
  left: 0;
  bottom: -265px;
  width: 383px;
  height: 301px;
}

.frame .div-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 150px;
  left: 98px;
}

.frame .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  color: #161a1a;
  font-size: 94px;
  letter-spacing: 0;
  line-height: 114px;
  white-space: nowrap;
}

.frame .text-wrapper-12 {
  position: relative;
  width: 1724px;
  font-family: "Urbanist-Regular", Helvetica;
  font-weight: 400;
  color: #161a1a;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 52px;
}

.frame .service {
  top: 470px;
  left: 98px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  position: absolute;
}

.frame .text-wrapper-13 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Urbanist-Regular", Helvetica;
  font-weight: 400;
  color: #d1d2d3;
  font-size: 94px;
  letter-spacing: 0;
  line-height: 114px;
}

.frame .img-wrapper {
  position: relative;
  width: 822px;
  height: 602px;
  background-color: #ecf8ff;
  border-radius: 132px 132px 132px 0px;
  overflow: hidden;
}

.frame .rectangle-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.frame .div-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-Bold", Helvetica;
  font-weight: 700;
  color: #161a1a;
  font-size: 94px;
  letter-spacing: 0;
  line-height: 114px;
}

.frame .div-13 {
  padding: 24px 72px 24px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
}

.frame .basil-download-solid-2 {
  right: 0;
  position: absolute;
  top: 0;
  width: 72px;
  height: 72px;
  border-radius: 100px;
  overflow: hidden;
}

.frame .vector-8 {
  position: absolute;
  top: calc(50.00% - 11px);
  left: calc(50.00% - 13px);
  width: 26px;
  height: 22px;
}

.frame .service-2 {
  top: 640px;
  right: 98px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  position: absolute;
}

.frame .rectangle-wrapper-2 {
  position: relative;
  width: 822px;
  height: 602px;
  background-color: #ecf8ff;
  border-radius: 0px 132px 132px 132px;
  overflow: hidden;
}

.frame .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-Bold", Helvetica;
  font-weight: 700;
  color: #161a1a;
  font-size: 94px;
  letter-spacing: 0;
  line-height: 114px;
  white-space: nowrap;
}

.frame .service-3 {
  top: 1682px;
  right: 98px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  position: absolute;
}

.frame .rectangle-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.frame .service-4 {
  top: 1512px;
  right: 1000px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  position: absolute;
}

.frame .work-experience {
  position: relative;
  width: 1920px;
  height: 2340px;
  background-color: #39a7ff;
}

.frame .vector-9 {
  position: absolute;
  left: 0;
  bottom: 1774px;
  width: 383px;
  height: 265px;
}

.frame .div-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  position: absolute;
  top: 150px;
  left: 998px;
}

.frame .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 94px;
  text-align: right;
  letter-spacing: 0;
  line-height: 114px;
  white-space: nowrap;
}

.frame .text-wrapper-17 {
  position: relative;
  width: 824px;
  font-family: "Urbanist-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: 52px;
}

.frame .div-15 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 102px;
  position: absolute;
  top: 790px;
  left: 228px;
}

.frame .div-16 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-wrapper-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 74px;
  letter-spacing: 0;
  line-height: 94px;
}

.frame .text-wrapper-19 {
  position: relative;
  width: 824px;
  margin-top: -1.00px;
  font-family: "Urbanist-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 52px;
}

.frame .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 74px;
  letter-spacing: 0;
  line-height: 94px;
  white-space: nowrap;
}

.frame .text-wrapper-21 {
  position: relative;
  width: 824px;
  font-family: "Urbanist-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 52px;
}

.frame .div-wrapper-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 496px;
  left: 98px;
}

.frame .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 94px;
  letter-spacing: 0;
  line-height: 114px;
  white-space: nowrap;
}

.frame .div-17 {
  position: absolute;
  top: 760px;
  left: 98px;
  width: 80px;
  height: 1342px;
}

.frame .line {
  position: absolute;
  top: 36px;
  left: 50.00%;
  width: 2px;
  height: 1306px;
}

.frame .vector-10 {
  position: absolute;
  top: 80px;
  left: calc(50.00% - 22px);
  width: 44px;
  height: 50px;
}

.frame .vector-11 {
  position: absolute;
  top: 522px;
  left: calc(50.00% - 22px);
  width: 44px;
  height: 50px;
}

.frame .vector-12 {
  position: absolute;
  top: 1724px;
  left: calc(50.00% - 844px);
  width: 44px;
  height: 50px;
}

.frame .arrow {
  position: absolute;
  top: 264px;
  left: 675px;
  width: 192px;
  height: 192px;
}

.frame .group {
  position: relative;
  width: 99.98%;
  height: 66.93%;
  top: 16.41%;
  background-image: url(./img/vector-19.svg);
  background-size: 100% 100%;
}

.frame .vector-13 {
  position: absolute;
  width: 3.96%;
  height: 27.98%;
  top: 72.01%;
  left: 0;
}

.frame .vector-14 {
  position: absolute;
  width: 17.26%;
  height: 13.33%;
  top: 86.67%;
  left: 0;
}

.frame .vector-15 {
  position: absolute;
  right: 176px;
  bottom: -274px;
  width: 600px;
  height: 150px;
}

.frame .latest-projects {
  position: relative;
  width: 1920px;
  height: 2696px;
  background-color: #ffffff;
}

.frame .div-18 {
  display: flex;
  width: 1724px;
  align-items: flex-start;
  gap: 50px;
  position: absolute;
  top: calc(50.00% - 806px);
  left: calc(50.00% - 862px);
}

.frame .div-wrapper-4 {
  flex-direction: column;
  gap: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}

.frame .text-wrapper-23 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Urbanist-Bold", Helvetica;
  font-weight: 700;
  color: #161a1a;
  font-size: 94px;
  letter-spacing: 0;
  line-height: 114px;
}

.frame .div-19 {
  display: flex;
  width: 1724px;
  align-items: flex-start;
  gap: 50px;
  position: absolute;
  top: calc(50.00% + 598px);
  left: calc(50.00% - 862px);
}

.frame .div-wrapper-5 {
  flex-direction: column;
  width: 831px;
  height: 270px;
  gap: 20px;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.frame .text-wrapper-24 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  margin-bottom: -71.00px;
  font-family: "Urbanist-Bold", Helvetica;
  font-weight: 700;
  color: #161a1a;
  font-size: 94px;
  letter-spacing: 0;
  line-height: 114px;
}

.frame .div-20 {
  width: 1724px;
  gap: 50px;
  position: absolute;
  top: calc(50.00% - 104px);
  left: calc(50.00% - 862px);
  display: flex;
  align-items: flex-start;
}

.frame .vector-16 {
  position: absolute;
  right: 176px;
  bottom: 2272px;
  width: 600px;
  height: 150px;
}

.frame .want-to-work-with-me {
  position: relative;
  width: 1920px;
  height: 1156px;
  background-color: #ffeed9;
}

.frame .div-21 {
  display: flex;
  flex-direction: column;
  width: 1724px;
  align-items: flex-end;
  gap: 24px;
  position: absolute;
  top: 150px;
  right: 98px;
}

.frame .text-wrapper-25 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  color: #161a1a;
  font-size: 94px;
  text-align: right;
  letter-spacing: 0;
  line-height: 114px;
}

.frame .i-m-always-happy-to {
  position: relative;
  align-self: stretch;
  font-family: "Urbanist-Regular", Helvetica;
  font-weight: 400;
  color: #76797a;
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: 52px;
}

.frame .div-22 {
  display: inline-flex;
  align-items: flex-start;
  gap: 56px;
  position: absolute;
  top: 542px;
  left: 98px;
}

.frame .div-23 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.frame .ic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  overflow: hidden;
  border: 4px solid;
  border-color: #161a1a;
}

.frame .vector-17 {
  position: absolute;
  top: calc(50.00% - 20px);
  left: calc(50.00% - 22px);
  width: 42px;
  height: 40px;
}

.frame .text-wrapper-26 {
  position: relative;
  width: fit-content;
  font-family: "Urbanist-Regular", Helvetica;
  font-weight: 400;
  color: #161a1a;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .text-wrapper-27 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  color: #161a1a;
  font-size: 54px;
  text-align: center;
  letter-spacing: 0;
  line-height: 94px;
  white-space: nowrap;
}

.frame .vector-18 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 627px;
  height: 54px;
}

.frame .div-24 {
  display: inline-flex;
  align-items: flex-start;
  gap: 56px;
  position: absolute;
  top: 818px;
  left: 98px;
}

.frame .vector-19 {
  position: absolute;
  top: calc(50.00% - 20px);
  left: calc(50.00% - 18px);
  width: 36px;
  height: 40px;
}

.frame .college-of-science {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Urbanist-ExtraBold", Helvetica;
  font-weight: 800;
  color: #161a1a;
  font-size: 54px;
  letter-spacing: 0;
  line-height: 94px;
}

.frame .line-2 {
  left: calc(50.00% - 862px);
  bottom: 2px;
  width: 1724px;
  position: absolute;
  height: 2px;
}

.frame .vector-20 {
  position: absolute;
  width: 4.69%;
  height: 7.79%;
  top: 8.65%;
  left: 5.10%;
}

.frame .footer {
  position: relative;
  width: 1920px;
  height: 494px;
  background-color: #ffeed9;
}

.frame .group-2 {
  position: absolute;
  width: 130.10%;
  height: 206.84%;
  top: 0;
  left: 0;
}

.frame .rectangle-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 494px;
  background: linear-gradient(
    180deg,
    rgba(255, 238, 217, 1) 12%,
    rgba(255, 238, 217, 0) 100%
  );
}

.frame .line-3 {
  top: 318px;
  left: 98px;
  width: 853px;
  position: absolute;
  height: 2px;
}

.frame .div-25 {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  position: absolute;
  top: 183px;
  left: 163px;
}

.frame .div-26 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.frame .vector-21 {
  position: absolute;
  top: calc(50.00% - 18px);
  left: calc(50.00% - 10px);
  width: 20px;
  height: 36px;
}

.frame .vector-22 {
  position: absolute;
  top: calc(50.00% - 22px);
  left: calc(50.00% - 22px);
  width: 44px;
  height: 44px;
}

.frame .vector-23 {
  position: absolute;
  top: calc(50.00% - 18px);
  left: calc(50.00% - 19px);
  width: 38px;
  height: 36px;
}
